pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

# project specific
draft/
glossaries/
nr-poz.txt
training-data/
src/training_set_builder/.fuse_hidden*
extracted/
